<div class = "main">
<div class = "flex_main">
<div class = "forget_password">
    <form action = "/user//send_password_reset_link" method = "post">
    email : <input type = "text" name = "email"><br>
    <input type = "submit" value = "Send Password Reset Link">
    </form>
   
        <% if(err){ %>
            <div class = "error"><%= err %></div>
        <% } %>
    
</div>
</div>
</div>
