<div class = "main">
<div class = "flex_main">

<div class = "profile_details">
    Welcome <%= name %> !<br>
    <%=email %>

</div>
<form action = "/user/signOut" method = "post">
<input type="submit" value = "signout">
</form>










</div>


</div>

