<div class = "main">
<div class = "flex_main">
<div class = "forget_password">
    <form action = "/user/change_password" method = "post">
    email : <input type = "text" name = "email"><br>
    old password : <input type = "password" name = "old_password"><br>
    new password : <input type = "password" name = "new_password"><br>
    confirm password : <input type = "password" name = "confirm_password"><br>
    <input type = "submit" value = "Change Password">
    </form>
   
        <% if(err){ %>
            <div class = "error"><%= err %></div>
        <% } %>
    
</div>
</div>
</div>
