<div class = "main">
    <div class = "flex_main">
    <div class = "change_password">
        <form action = "/user/change_password_link/<%= email %>" method = "post">
        password : <input type = "text" name = "new_password"><br>
        confirm password: <input type = "text" name = "confirm_password"><br>
        <input type = "submit" value = "Change Password">
        </form>
       
            <% if(err){ %>
                <div class = "error"><%= err %></div>
            <% } %>
        
    </div>
    </div>
    </div>