<div class = "main">
<div class = "flex_main">
<h1>Sign In Page</h1>
<form action = "/user/login" method = "POST">
    <input type = "email" name = "email" placeholder = "Your Email" required>
    <input type = "password" name = "password" placeholder = "Password" required>
    <input type = "submit" value = "Sign In">
    </form>
  

    <div class="flex-container">
        <div class="flex-item"><a href = "/user/SignUp">Sign Up</a></div>
        <div class="flex-item"><a href = "/user/forget_password">forget your password?</a></div>
      </div>
      <div><%= err %></div>

   
</div>



</div>